.sizeOptions {
  display: flex;
  gap: 0.5rem;

  button {
    padding: 0.5rem 1rem;
    border: 1px solid #aaa;
    background: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      border-color: black;
    }

    &.active {
      border-color: black;
      background: #f4f4f4;
    }
  }
}
