.tabs {
  margin-top: 3rem;
  border-top: 1px solid #ddd;
  padding-top: 2rem;

  summary {
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  p {
    font-size: 0.95rem;
    color: #333;
  }
}
