.mainImage {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scroll-behavior: smooth;
  padding-bottom: 40px;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .mainImageItem {
    width: 100%;
    max-width: 650px;
    object-fit: contain;
    scroll-margin-top: 120px;
  }
}
