@use "../../../../scss/abstracts/variables" as *;

.headerMain {
  height: auto;
}

.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerPrimaryNav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.unstyledList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.headerPrimaryNavItem {
  line-height: 100px;
}

.h6 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: $text-color;
  }
}
.underline:hover {
  border-bottom: black 2px solid;
}
.active {
  font-weight: bold;
  color: #333;
}

.headerSecondaryNav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.megaMenuDisclosure {
  display: contents;
}

.headerMenuDisclosure {
  summary {
    cursor: pointer;
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
  }
}

.megaMenu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: $primary-color;
  border: 1px solid $border-color;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 48px;
}

.headerPrimaryNavItem:hover .megaMenu {
  max-height: 600px;
  opacity: 1;
  transform: translateY(0);
  padding: 40px 48px;
}

.headerPrimaryNavItem .megaMenu {
  line-height: normal;
  font-size: 10px;
  text-transform: none;
}

.megaMenuLinkList {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.vStack {
  display: flex;
  flex-direction: column;
}

.justifyItemsStart {
  align-items: start;
}

.gap5 {
  gap: 20px;
}

.gap25 {
  gap: 10px;
}

.linkFaded {
  color: rgb(126, 125, 125);
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: #494949;
  }
}
