@use "../../../../scss/dependencies/variables" as *;

.container {
  display: flex;
  gap: 2rem;
  background-color: $primary-color;
  padding: 2rem 3rem;
}
.sidebar {
  width: 270px;
  position: sticky;
  top: 160px;
  align-self: flex-start;
  @media (max-width: 1250px) {
    display: none;
  }
}
.content {
  display: grid;
  width: 100%;
  height: auto;
  row-gap: 2.25rem;
}
.grid {
  width: 100%;
  height: auto;
}
.paginationCategory {
  justify-self: center;
}
