.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f5f5f5;
}

.skeleton {
  position: absolute;
  inset: 0;
  background: #eee;
  z-index: 1;
}

.fallback {
  width: 100%;
  height: 100%;
  background: #eee;
}
