@use "../../../../scss/abstracts/variables" as *;
.footer {
  background: $primary-color;
  color: $text-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid rgb(235, 235, 235);
}
.container {
  padding-left: 3rem;
  padding-right: 3rem;
}
.footerInner {
  display: grid;
  row-gap: 3rem;
}

@media (min-width: 1400px) {
  .footerBlockList {
    column-gap: 5rem;
    display: flex;
  }
}
@media (min-width: 1150px) {
  .footerBlockList {
    justify-content: space-between;
    display: flex;
  }
}
@media (min-width: 700px) {
  .footerBlockList {
    flex-wrap: wrap;
    gap: 3rem;
    display: flex;
  }
}
.socialMedia {
  display: flex;
  gap: 2rem;
}
.footerAside {
  display: flex;
  justify-content: center;
  align-items: center;
}
