@import "variables";
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
}

// img {
//   max-width: 100%;
//   height: auto;
//   display: block;
// }
