//key

//main color
$primary-color: rgb(255, 251, 245);
$secondary-color: #2ecc71;

//color schema light
$black-background: rgb(28, 28, 28);
$text-color: rgb(28, 28, 28);
$white-text-color: rgb(255, 255, 255);
$light-border-bottem-color: rgb(0, 255, 166);
$background: rgb(255, 251, 245);
$background-without-opacity: rgb(255, 251, 245);
$border-header-color: rgb(28, 28, 28);
$border-color: rgb(221 218 212);
$button-text-color: rgb(255, 255, 255);
$circle-button-background: rgb(255, 255, 255);
$circle-button-text-color: rgb(28, 28, 28);

//font
$heading-font-weight: 600;
$text-font-weight: 400;
$text-font-family: "Montserrat", sans-serif !important;

//spacing
@mixin section-spacing($ptd: 48px, $pbd: 48px, $ptm: 30px, $pbm: 30px) {
  padding-top: $ptd;
  padding-bottom: $pbd;
  @media (max-width: 767px) {
    padding-top: $ptm;
    padding-bottom: $pbm;
  }
}
@mixin container($pld: 48px, $prd: 48px, $plm: 10px, $prm: 10px) {
  padding-left: $pld;
  padding-right: $prd;
  @media (max-width: 767px) {
    padding-left: $plm;
    padding-right: $prm;
  }
}

//wrap
@mixin wrap() {
  flex-wrap: wrap;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: $text-font-weight;
//   color: $text-color;
// }
