@use "@/scss/dependencies/variables" as *;

.container {
  display: flex;
  gap: 2rem;
  background-color: $primary-color;
  padding: 2rem 3rem;

  @media (max-width: 768px) {
    padding: 2rem 0;
  }
}

.sidebar {
  width: 270px;
  position: sticky;
  top: 160px;
  align-self: flex-start;

  @media (max-width: 1250px) {
    display: none;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
}
