@use "../../../../scss/dependencies/variables" as *;

.filterBar {
  position: sticky;
  z-index: 999;
  top: 98px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: $primary-color;
  min-height: 4rem;
  border: 1px solid $border-color;
}

.viewMode {
  display: flex;
  gap: 8px;
  padding: 1rem 2rem;
  border-right: 1px solid $border-color;
  @media (max-width: 430px) {
    padding: 0.5rem 0.7rem;
    justify-content: center;
    align-items: center;
    > :nth-child(3) {
      display: none;
    }
  }
}
.allProductCount {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  @media (max-width: 1245px) {
    display: none;
  }
}
.allProductCountMobile {
  display: none;
  @media (max-width: 1245px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
  }
}
.sortBy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  position: relative;
  border-left: 1px solid $border-color;
}

.sortButton {
  display: flex;
  align-items: center;
  background-color: #fdfaf5;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
}

.arrow {
  margin-left: 8px;
}

.sortMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fdfaf5;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  list-style: none;
}

.sortItem {
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #f0ece6;
  }
}

.active {
  font-weight: bold;
  background-color: #f7f3ed;
}
