
.productCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.productImage {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  background-color: #f5f5f5;
  overflow: hidden;
  
  img {
    object-fit: cover;
    transition: transform 0.5s ease;
  }
}

.productInfo {
  text-align: center;
}