@use "../../../../scss/dependencies/variables" as *;
.sectionSpacing {
  @include section-spacing;
  background-color: $primary-color;
}
.container {
  @include container;
}
.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.slide {
  background-color: $primary-color;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.imageContainer {
  position: relative;
  margin-bottom: 1rem;
}
.badgeGroup {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.badge {
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
.slideImage {
  width: 100%;
  height: 28rem;
  object-fit: cover;
}

.itemName {
  font-size: 0.875rem;
  font-weight: medium;
  margin-bottom: 0.5rem;
}
.link{
  color: #666;
}

.itemPriceLineThrough {
  color: #666;
  text-decoration: line-through;
  font-size: 0.875rem;
  margin-right: 13px;
}
.itemPrice {
  color: #f32424;
  font-size: 0.9rem;
}
.sectionStack {
  display: block;
}
.shopFavoriteCarousel {
  display: block;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transform: uppercase;
  margin-top: 20px;
}
