.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  overflow-y: auto;
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
}
.drawerFooter {
  flex: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid rgba(5, 5, 5, 0.06);
}
