.item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.imgWrapper {
  position: relative;

  img {
    border-radius: 4px;
    display: block;
  }
}

.qty {
  position: absolute;
  top: -6px;
  right: -6px;
  background: black;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  flex: 1;
}

.name {
  font-size: 14px;
  margin: 0;
}

.price {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}