.thumbnailList {
  grid-area: thumbnail;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 120px;
  align-self: start;
  position: sticky;
  top: 120px;

  img {
    width: 60px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
    margin-bottom: 10px;
    &:hover {
      border-color: black;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
