.cartItem {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.productInfo {
  display: grid;
  padding: 1.5rem 0;
  font-weight: 600;
  font-size: 14px;
  & a {
    color: black;
  }
  & a:hover {
    color: rgb(139, 139, 139);
  }
}
.quantityItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.removeLink {
  all: unset;
  position: relative;
  display: inline-block;
  color: black;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right; // bắt đầu từ phải
    transition: transform 0.3s ease;
  }

  &:hover::after {
    transform: scaleX(1); // mở rộng ra từ phải sang trái
    transform-origin: left;
  }
}
